<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("pfvideo-logo.png", class:"pfvideo-icon"), "/" %>
    <%= form_with(url: "#", local: true, method: :get, class: "search-form") do |f| %>
      <%= f.text_field :keyword, placeholder: 'キーワードから探す',class: 'input-box' %>
      <%= f.submit "検索", class: "search-button" %>
     <% end %>   
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <li><%= link_to  "#", class: "user-nickname" %></li>
      <li><%= link_to 'Home', "/", class: "home"%></li>
      <li><%= link_to 'Favorite', "#", class: "message"%></li>
      <li><%= link_to 'Mypage', "#", class: "mypage"%></li>
      <li><%= link_to 'Log Out', "#", method: :delete, class: "logout"%> </li>
      <li><%= link_to 'ゲストログイン', "#", method: :post, class: "login" %></li>
      <li><%= link_to 'Log in', "#", class: "login" %></li>
      <li><%= link_to 'Sing up', "#", class: "sign-up" %></li>
    </ul>
  </div>
</header>