<div class="tweets-sell-contents">
  <%= link_to image_tag("pfvideo-logo.png",size: '185x50'), "/" %>
  <div class="tweets-sell-main">
    <h2 class="tweets-sell-title">投稿の情報を入力</h2>
    <%= form_with(model: @tweet, local: true) do |f| %>
      <div class="weight-bold-text">
        動画のタイトル
        <span class="indispensable">必須</span>
      </div>
        <%= f.text_area :title, class:"tweets-title", id:"tweet_title" %>
    <div class="new-tweets">
      <div class="weight-bold-text">
        YouTube Url
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :youtube_url, class:"tweets-title", id:"tweet_url" %>
      <div class="tweets-explain">
        <div class="weight-bold-text">
          投稿の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :text, class:"tweets-text", id:"tweet_text" %>
      </div>
    </div>
    
    <div class="sell-btn-contents">
      <%= f.submit "投稿する", class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <% end %>
  </div>  
</div>

